/vendor
/node_modules
/public/storage
/storage/*.key
/storage/logs
/storage/framework
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea

# extra ignore
*.zip
*.log
error_log
