/vendor
/node_modules
/public/storage
/storage/*.key
/storage/logs
/storage/framework
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea

# extra ignore
*.zip
*.log
error_log
*.sql
scratch/
.system_generated/

# User uploads and sensitive documents
/public/subscriber/driver/*
/public/userprofile/*
/public/admin/*
/public/attachment/*
/public/banner/*
/public/pushnotification/*
/public/qr/*
/public/site/*
!.gitkeep

/bootstrap/cache/*.php
/bootstrap/cache/*.tmp
!/bootstrap/cache/.gitignore


